name: Test USN Update
on:
  workflow_dispatch: {}
  pull_request:
    branches: [ main ]
    paths:
    - 'actions/usn-update/entrypoint/**'
  push:
    branches: [ main ]
    paths:
    - 'actions/usn-update/entrypoint/**'

jobs:
  test-usn-update:
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.15

    - name: Run Tests
      run: |
        cd actions/usn-update/usn-recorder
        go test ./...

  approve-and-merge:
    name: Auto Approve and Merge
    if: ${{ github.event.pull_request.user.login == 'paketo-bot' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs: test-usn-update
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Approve
      uses: paketo-buildpacks/github-config/actions/pull-request/approve@main
      with:
        user: paketo-bot-reviewer
        token: ${{ secrets.PAKETO_BOT_REVIEWER_GITHUB_TOKEN }}
        author: ${{ github.event.pull_request.user.login }}
        number: ${{ github.event.number }}

    - name: Fetch Pull Request Details
      id: pull_request
      env:
        NUMBER: ${{ github.event.pull_request.number }}
        GITHUB_TOKEN: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
      run: |
        payload="$(
          curl "https://api.github.com/repos/${GITHUB_REPOSITORY}/pulls/${NUMBER}" \
            --silent \
            --location \
            --header "Authorization: token ${GITHUB_TOKEN}"
        )"
        echo "::set-output name=mergeable_state::$(echo "${payload}" | jq -r -c .mergeable_state)"

    - name: Merge
      if: ${{ steps.pull_request.outputs.mergeable_state == 'clean' || steps.pull_request.outputs.mergeable_state == 'unstable' }}
      uses: paketo-buildpacks/github-config/actions/pull-request/merge@main
      with:
        user: paketo-bot
        token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
        number: ${{ github.event.pull_request.number }}

    - name: Rebase
      if: ${{ steps.pull_request.outputs.mergeable_state == 'behind' }}
      uses: paketo-buildpacks/github-config/actions/pull-request/rebase@main
      with:
        user: paketo-bot
        token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
        number: ${{ github.event.pull_request.number }}
